@import 'reset';

$c-primary: #0c76b3;
$c-yellow: #f6ff53;
$c-white: #f0f7ee;
$c-nav-brown: #363434;
$c-black: #080808;
$c-shade2: rgba(0, 0, 0, 0.2);
$c-shade: rgba(0, 0, 0, 0.4);


// Coolers colors
$c-honeydew: #f9f9f9;
$c-columbia-blue: #c4d7f2;
$c-pewter-blue: #90b6b5;
$c-steel-teal: #4d918f;
$c-warm-black: #020709;

$fa-font-path: '//netdna.bootstrapcdn.com/font-awesome/4.3.0/fonts';
//@import 'font-awesome';
//@import 'box-sizing';
//@import 'navandfoot';

@import 'ember-power-select';
@import 'ember-power-select-typeahead';
@import 'grid';
@import 'index';
@import 'login&register';
@import 'application';
@import 'my_account';
@import 'table';
@import 'data';
@import 'button';
@import 'about';

.app {
  background-color: $c-white;
}

.section {
  flex: 1;
  padding: 0;
}

.container {
  max-width: 60rem;
  margin: 0 auto;
}
