
$c-primary: #0c76b3;
$c-yellow: #f6ff53;

$fa-font-path: '//netdna.bootstrapcdn.com/font-awesome/4.3.0/fonts';
//@import 'font-awesome';
//@import 'box-sizing';
//@import 'navandfoot';
@import 'grid';
@import 'login';

body {
  margin: 0;
  background: #fefefe;
  font-family: 'Roboto Mono', monospace;
}

ul {
  padding-left: 0;
  list-style: none;
}

img {
  align-self: center;
  max-width: 100%;
}

a {
  text-decoration: none;
  color: white;

  &:hover {
    color: $c-primary;
  }
}

.section {
  padding: 0;
}

.container {
  max-width: 60rem;
  margin: 0 auto;
}

.nav {
  background: #363434;
  max-width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 1rem;

}

footer {

  right: 0;
  bottom: 0;
  left: 0;
}

.footer-items {
  display: flex;
  flex-direction: column;
  margin: .5rem;
}

.list {
  color: #ddd;
  margin: .5rem;
  cursor: pointer;
  text-align: left;

&:hover {
  color: $c-primary;
}
}

.social {
  font-size: 2.5rem;
  margin: .5rem;
  color: #ddd;
  text-decoration: none;

&:hover {
  color: $c-primary;
}
}

.register-btn {
  color: $c-primary;

&:hover {
  color: black;
}
}
