body {
  background: $c-honeydew;
  color: $c-warm-black;
  font-family: 'Roboto Mono', monospace;
}

.logo {
  font-size: 3rem;
}

.app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;

  &__content {
    flex-grow: 1;
  }
}

a {
  color: $c-white;
  text-decoration: none;

  &:hover {
    color: $c-primary;
  }
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 100%;
  padding: 1rem;
  background: $c-warm-black;

}

.footer-items {
  display: flex;
  flex-direction: column;
  margin: 0.5rem;
}

.list {
  margin: 0.5rem;
  color: $c-white;
  text-align: left;
  cursor: pointer;

  &:hover {
    color: $c-primary;
  }
}

.social {
  margin: 0.5rem;
  color: $c-white;
  font-size: 2.5rem;
  text-decoration: none;

  &:hover {
    color: $c-primary;
  }
}
