.input-container {
  display: flex;
  align-items: baseline;
}

.btn-home {
  display: flex;
  justify-content: center;
}

.btn {
  width: 10rem;
  margin: 1rem;
  padding: 1rem;
  border: 0.1rem solid $c-primary;
  border-radius: 0.2rem;
  outline: none;
  background: none;
  color: $c-warm-black;
  font-size: 1.3rem;
  text-align: center;

  &:hover {
    transition: 0.6s ease;
    background: $c-primary;
    color: $c-white;
    opacity: 0.7;
  }
}

.destination-btn {
  width: 6rem;
  height: 2rem;
  margin: 1rem;
  border: 0.1rem solid $c-primary;
  border-radius: 0.2rem;
  outline: none;
  background: none;
  color: $c-warm-black;
  font-size: 1.3rem;
  text-align: center;

  &:hover {
    transition: 0.6s ease;
    background: $c-primary;
    color: $c-white;
    opacity: 0.7;
  }
}
