.grid {
  display: flex;
  flex-wrap: wrap;
}

.grid__item {
  display: flex;
  flex-basis: calc(100% / 3 - 1rem - 1rem);
  flex-direction: row;
  justify-content: center;
  margin: 1rem;
  border-radius: 0.2rem;
}

.join-heading {
  margin: 0;
  padding: 1rem;
  text-align: center;
}

.card {
  margin-top: 4rem;
  text-align: center;

  &__icon {
    //color: $c-steel-teal;
    color: $c-primary;
    font-size: 8rem;
  }
}
