
.login {
  margin-top: 2rem auto;
  border-radius: 0.2rem;

  &__heading {
    text-align: center;
}

  &__form {
    text-align: center;
}
}

.user__form {
  display: flex;
  justify-content: center;
  margin: 2rem;
}

.user__input {
  display: flex;
  flex-direction: column;
  width: 20rem;
  margin: 1rem;
  padding: 0.5rem;
  border: 0;
  border-radius: 0.5rem;
  outline: none;
  background: $c-steel-teal;
  font-size: 1.3rem;
  text-align: center;
  opacity: 0.7;
}


.input-container__input {
  padding: 1rem;
  &--fullwidth {
    width: 100%;
  }
}

.btn-field {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.register-btn {
  color: $c-primary;
}
