table {
  width: 90%;
  margin: 2rem;
  justify-content: center;
}

td {
  padding: 2rem;
}

th {
  color: $c-primary;
}

table,
th,
td {
  border: none;
  text-align: center;
  border-collapse: collapse;
}

th,
td {
  // width: 33.33333333333%;
  // Have to be sure
}
