<nav class="nav">
  <div class="nav-left">
    <a href="#" class="nav-item">Logo</a>
  </div>

  <div class="nav-right">
    <a href="#" class="nav-item">About</a>
    <a href="#" class="nav-item">Login</a>
  </div>
</nav>

<footer>
  <div class="nav">
    <div class="nav-left">
      <ul class="footer-items">
        <li class="list fa fa-info">
          <a class="list" href=""></a>About</li>
        <li class="list fa fa-money">
          <a class="list" href=""></a>Donate</li>
        <li class="list fa fa-table">
          <a class="list" href=""></a>Data</li>
        <li class="list">
          <span class="fa fa-table"></span>
          <a class="list" href=""></a>Contact Us</li>
        <li class="list fa fa-book">
          <a class="list" href=""></a>Privacy Policy</li>
      </ul>
    </div>

    <div class="nav-right">
      <div class="social-group">
        <a href="#" class="fa fa-facebook social"></a>
        <a href="#" class="fa fa-twitter social"></a>
      </div>
    </div>
  </div>
</footer>

{{outlet}}
