<div class="section">
  <div class="container">

    <h2 class="join-heading">Data from our users</h2>

    <div class="grid">
      <div class="grid__item">
        <div class="card">
          <div class="fa fa-car card__icon" aria-hidden="true"></div>
          <h2>86,000 drivers</h2>
        </div>
      </div>

      <div class="grid__item">
        <div class="card">
          <div class="fa fa-tree card__icon" aria-hidden="true"></div>
          <h2>1,000,000 trees saved</h2>
        </div>
      </div>

      <div class="grid__item">
        <div class="card">
          <div class="fa fa-road card__icon" aria-hidden="true"></div>
          <h2>42,000,000 miles travelled</h2>
        </div>
      </div>
    </div>

    <div class="btn-home">
      <button class="btn">Get Started</button>
    </div>
  </div>
</div>

<div class="chart">
  {{pie-chart data=model options=options}}
</div>

{{!-- <div class="chart">
  {{bar-chart data=model2 options=options2}}
</div> --}}
