<div class="section">
  <div class="container">
    <div class="ma-card">
      <div class="ma-card__header">
        <h2>My Vehicles</h2>
      </div>
      <ul class="ma-card__list">
        <li class="ma-card__list-item">Ex.Make Ex.Model Ex.Year <button type="button" name="button">Delete</button></li>
        <li>Ex.Make Ex.Model Ex.Year <button type="button" name="button">Delete</button></li>
      </ul>
      <div class="ma-card__header">
        <h2>Add Vehicle</h2>
      </div>
      <div class="ma-card__main">
        <div class="add-vehicle">
          <div class="input-container">
            <div class="input-container__input">
              Make: <input type="text" name="" value="">
            </div>
            <div class="input-container__input">
              Model: <input type="text" name="" value="">
            </div>
            <div class="input-container__input">
              Year: <input type="text" name="" value="">
            </div>
          </div>
          <button type="button" name="button" class="add-vehicle__button">Submit</button>
        </div>
      </div>
    </div>
    {{!-- ma-card 1 --}}
    {{!-- <div class="ma-card">
      <div class="ma-card__header">
        <h2>Change UserName</h2>
      </div>
      <div class="ma-card__main">
        <div class="user-changes">
          <div class="input-container">

          </div>
        </div>
      </div>
    </div> --}}
  </div>
</div>
{{outlet}}
