<div class="section">
  <div class="container">
    <div class="card">
      <div class="card__header">
        <h2>My Vehicles</h2>
      </div>
      <ul class="card__main__list">
        <li>Ex.Make Ex.Model Ex.Year <button type="button" name="button">Delete</button></li>
        <li>Ex.Make Ex.Model Ex.Year <button type="button" name="button">Delete</button></li>
      </ul>
      <div class="card__header">
        <h2>Add Vehicle</h2>
      </div>
      <div class="card__main">
        <div class="add-vehicle-contanter">
          <div class="add-vehicle">
            <div class="add-vehicle__input">
              Make: <input type="text" name="" value="">
            </div>
            <div class="add-vehicle__input">
              Model: <input type="text" name="" value="">
            </div>
            <div class="add-vehicle__input">
              Year: <input type="text" name="" value="">
            </div>
          </div>
          <button type="button" name="button">Submit</button>
        </div>
      </div>
    </div>
  </div>
</div>
{{outlet}}
