<div class="join-heading">
  <img class='iron-img' src="/IronYard.svg" alt="">
  <h1>IronYard Final Project</h1>
  <h2>Front-End: John & Zach</h2>
  <h2>Back-End: Rob</h2>
  <h3>April 2017</h3>
</div>


<div class="textholder">
  <div class="textholder__holder">
    <ul class="textlist">

      <h1 class="join-heading">Warning: Code was put before spelling and grammer.</h1>


      <li>
        Monday thru Tuesday, Rob, Zach, and I spent our time working on the planning. This involved Creating user stories and wireframes for how the website should look.
      </li>

      <li>
        Wednesday, we had begun starting our ideas. Zach would do the home page. This took him most of the day until we had to create our github repository. At the beginning, I decided to wait for Zach to upload this homepage on to master branch of the repository
        since I would need the css elements he created. Turn out this would take a while and I began on the my account page where the user would be able to list the vehicles they planned to use. My time was spent on this page and figuring out github on
        how to create this repository. Rob is our back-end teammate. He worked on figuring when he needed. On how to fetch the data for the type of car.
      </li>

      <li>
        Thursday, I had pulled from the master branch to edit the different Zach had to make. Its was a mess. But it was enjoyable to fix. This is when we discussed how we would need a front-ender to edit the map on the home page to create directions. I would
        do this while Zach would work on storing the logins and accounts. I spent most of my time added the leaflet map to the homepage. Then going to the doctor. Then coming back, to beginning time on how to get to directions from the google API. Rob
        continued to work on his fetch data stuff. It now needs to figure out how to get MXN data into JSON data.
      </li>
      <li>
        Friday, this morning was spent looking on how to use the google API. I came to the idea that if I can get the code example to work on the homepage. I would have a better idea of how to request data from the API. Zach is working on the login. The morning
        had a highs/lows then a powerpoint on how to job search. Wonder on that will be. I may still come to the school everyday instead of staying at home after the school ends. Getting the feeling that I’m not doing anything.
      </li>

      <li>
        Friday, afternoon. After talking with Ryan, there seems to be more than one way to set up the directions API. Ryan is already on this three cup of coffee. What a life. The things that makes me human is made into money. Yet, money isn’t the problem. Zach
        is soon to finish this login feature. That means I’ll be able to get some help with my feature. Which is the biggest part of this project. I hope. There nothing else I plan on. I wonder what will happen next. I have to remember to ask Ryan to
        give me a review on ember-change set. I’ll have to let Zach know. Could I sell what I write could there be a want. Nothing went well today besides we now know what we have to do. Rob will be able to use java to make a fetch request to the google
        API which makes him more helpful. I should just relax this weekend. I have nothing planned and should look forward to MTAC next weekend.
      </li>
      <li>
        Thursday, Rob, Zach and I meet with John and Ryan yesterday to have the front-end install the back end server for our project. Today we be trying to return data from the back-end.
      </li>
      <li>
        Friday, this morning everyone looked back at the start of the project. The stress from the start of the object was discussed. People felt the need to share the frustration of the line for help from our teachers. Zach has added that input for the map using
        leaflet yesterday. What I have to do is ask for help on figuring out what is wrong with the login.
      </li>

      <li>
        Talking with ryan, many of the key items of the actions were working fine.
      </li>
      <li>
        Tuesday, Zach has been busy working with the leaflet and map inputs. Rob has been busy with data java stuff. The login and register page are now working.
      </li>

      <li>
        A well trained person can tell that this project was created by boys with little care of colors.
      </li>

      <li>
        Whe logging out and returning to the home page, the page doesn't display correctly. Error: ember.debug.js:29026 Error while processing route: index Ember Data Request GET http://localhost:8080/direction-results returned a 403
Payload (application/vnd.api+json;charset=UTF-8)
      </li>
    </ul>
  </div>
</div>
