<div class="section">
  <div class="login">
    <h2 class="login__heading">Login</h2>
    {{#with (changeset model validator) as |formValues| }}
      <form class="login__form" {{action 'login' formValues 'authenticators' on='submit'}}>

        <div for="identification" class="user__form">
          {{form-input id='identification' value=identification changeset=formValues property="username" label="Username" class="user__input"}}
        </div>

        <div for="password" class="user__form">
          {{form-input id='password' value=password type="password" changeset=formValues property="password" label="Password" class="user__input"}}
        </div>

        <div class="btn-field">
          <button type="submit" class="btn btn-primary">Login</button>
          <p class="register-tag">Don't have an Account?{{#link-to 'register' class="register-btn" }} Create one here!{{/link-to}}</p>
        </div>
      </form>
    {{/with}}

    {{#if errorMessage}}
      <p>
        <strong>Login Failed:</strong>
        <code>{{errorMessage}}</code>
      </p>
    {{/if}}
  </div>
</div>
